@import 'color';
@import 'font';
@import 'mixins/layout-mq';
@import 'mixins/content-mq';
$background-color: #e9e2e2;

body{
    scroll-behavior: smooth;
    transition: .5s;

    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #111;
        color: white;
        cursor: pointer;
        padding: 10px 12px;
        border-radius: 4px;
    }      
    #myBtn:hover {
        background-color: #555;
    }

    .header-section{
        height: auto;        
        .media-container{
            z-index: 9000;
            top: 0;
            left: 0;
            bottom:0;
            margin: 0 !important;
            padding: 0 !important;
            height: 78vh;
            .video1{
                margin: 0 !important;
                padding: 0 !important;
                height: calc(100% + 1px);
                object-fit: cover;
            }
        }
        .header-txt{
            z-index: 9906;
            bottom: 10%;
            height: 300px;
            @include responsive-content(smd){
                height: 200px;  
            }
            width: 100%;
            .txt-container{
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;  
                height: 100%;
                text-align: left;
                position: relative;
                @include responsive-content(smd){
                    margin-left: 5%;
                    padding: 0 !important;
                    width: 95%;
                }
                p{
                    width: 100%;
                    margin: 0;
                    padding: 0.5rem 2.5rem;
                    font-size: 3.5em;
                    @include responsive-content(smd){
                        font-size: 2.5em;
                    }
                    font-weight: 500;
                    color: white;
                    text-transform: uppercase;
                    &:nth-child(1){
                        font-weight: bold;
                        padding: 0.5rem 1.5rem;
                        @include responsive-content(smd){
                            font-size: 3.5em;
                        }
                        font-size: 4.5em;
                    }
                }
                &::before{                   
                    z-index: 9906;
                    content: '';
                    display: inline;
                    top: 0;
                    left: 0;
                    position: absolute;
                    background: #ccc;
                    height: 100%;
                    width: 10px;
                }
            }
        }
    }
    
    #contact{
        background: $black;
        .course__container{
            padding: 2rem 0;
            @include responsive-content(mobile){
                padding: 15px;
            }                  
        }
        a{
            color: $orange;
            text-decoration: none;
        }
        a:hover{
            color: $yellow;
        }
        .contact-container{
            width: 70%;
            margin-bottom: 20px;
            @include responsive-content(smd){
                width: auto !important;
            }
            @include responsive-content(tablet){
                width: 90%;
            }
            h1{
                font-size: 33px;
                font-weight: 600;
                padding: 10px 15px;
                letter-spacing: .7px;
                color: $black;
                background: $yellow;
                // border-radius: 25px 25px 0px 0px;
                font-family: $roboto-slab;
                @include responsive-content(tablet){
                    font-size: 21px;
                }
                @include responsive-content(smd){
                    font-size: 21px !important;
                    font-weight: 500;                    
                }
            }
            p{
                padding: 10px 15px;
                // text-indent: 50px;
                word-wrap: nowrap;
                // white-space: nowrap;
                color: $black;
                font-size: 18px;
                text-align: justify;
                line-height: 36px;
                font-weight: 600;
                font-family: $roboto;
                background: $white;
                margin-bottom: 0px;
                // border-radius: 0px 0px 25px 25px;              
                @include responsive-content(smd){
                    text-align: left;
                    font-size: 16px;
                    line-height: 2rem;
                }
            }
            form{
                width: 100%;
                background: $white;
                padding: 15px;
                @include responsive-content(smd){
                    padding: 10px;
                }
                input, button, textarea{
                    width: 50%;
                    font-size: 17px;
                    display: block;
                    padding: 10px;                
                    padding-left: 15px;
                    margin: 5px;
                    @include responsive-content(tablet){
                        width: 80%;
                    }
                    @include responsive-content(smd){
                        width: 97% !important;
                    }
                }
                button{
                    font-size: 20px;
                    color: $white;    
                    border: none;
                    background: $black;                    
                }
                button:hover{
                    background-color: rgba($color: $black, $alpha: 0.9);
                }
            }
        }
    }
}