@import 'color';
@import 'font';
@import 'mixins/layout-mq';
@import 'mixins/content-mq';
$background-color: #e9e2e2;
body{
    scroll-behavior: smooth;
    transition: .5s;
    background: #ccc;

    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #111;
        color: white;
        cursor: pointer;
        padding: 12px 12px;
        border-radius: 4px;
    }      
    #myBtn:hover {
        background-color: #555;
    }

    .header-section{
        height: 78vh;
        @include responsive-content(smd){
            height: 55vh;
        }
        .media-container{
            z-index: 9000;
            top: 0;
            left: 0;
            bottom:0;
            margin: 0 !important;
            padding: 0 !important;
            height: 78vh;
            @include responsive-content(smd){
                height: 55vh;
            }
            img{
                filter: contrast(150%);
            }
            .video1{
                margin: 0 !important;
                padding: 0 !important;
                height: calc(100% + 1px);
                object-fit: cover;
            }
        }
        .header-txt{
            z-index: 9906;
            bottom: 10%;
            height: 300px;
            @include responsive-content(smd){
                height: 200px;  
            }
            width: 100%;
            .txt-container{
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;  
                height: 100%;
                text-align: left;
                position: relative;
                @include responsive-content(smd){
                    margin-left: 5%;
                    padding: 0 !important;
                    width: 95%;
                }
                p{
                    width: 100%;
                    margin: 0;
                    padding: 0.5rem 2.5rem;
                    font-size: 3.5em;
                    @include responsive-content(smd){
                        font-size: 2.5em;
                    }
                    font-weight: 500;
                    color: $light-grey;
                    // text-shadow:  5px 5px 10px rgba($color: $black, $alpha: 1);
                    text-shadow:    0px 4px 3px rgba(0,0,0,0.9), 
                                    0px 8px 13px rgba(0,0,0,0.9), 
                                    0px 18px 23px rgba(0,0,0,0.9);
                    text-transform: uppercase;
                    &:nth-child(1){
                        font-weight: bold;
                        // padding: 0.5rem 1.5rem;
                        @include responsive-content(smd){
                            font-size: 3.5em;
                        }
                        font-size: 4.5em;
                    }
                }
                &::before{                   
                    z-index: 9906;
                    content: '';
                    display: inline;
                    top: 0;
                    left: 0;
                    position: absolute;
                    background: $light-grey;
                    height: 100%;
                    width: 10px;
                }
            }
        }
    }
    #courses{
        background: $yellow;
        .course__container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 2rem 0;
            @include responsive-content(mobile){
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

        }
        .course-info{
            width: 56%;            
            @include responsive-content(mobile){
                width: 90%;
            }
            h1{
                font-size: 33px;
                font-weight: 600;
                padding-top: 1rem;
                padding-left: 30px;
                letter-spacing: .7px;
                color: $black;
                font-family: $roboto-slab;
                @include responsive-content(smd){
                    font-size: 28px;
                    font-weight: 500;
                    padding-left: 0px;
                }
            }
            p{
                padding: 20px 25px;
                // text-indent: 50px;
                word-wrap: nowrap;
                // white-space: nowrap;
                color: $black;
                font-size: 22px;
                text-align: justify;
                line-height: 36px;
                font-weight: 600;
                
                @include responsive-content(mobile){
                    padding: 0;
                    font-size: 0.8em;
                    line-height: 2rem;
                }
                @include responsive-content(smd){
                    padding: 0;
                    font-size: 18px;
                    line-height: 2rem;
                }
                a{
                    text-decoration: underline;
                    font-weight: 700;
                }
            }
        }
        .course-name{
            width: 44%;
            display:flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            @include responsive-content(mobile){
                width: 90%;
                align-items: flex-start;
            }
            h1{
                text-transform: uppercase;
                width: 38%;
                display: block;
                background: white;
                letter-spacing: .7px;
                text-align: center;
                font-size: 20px;
                margin-top: .5rem;
                padding: 10px 12px;
                font-family: $roboto-slab;              
                @include responsive-content(smd){
                    font-size: 28px;
                    font-weight: 500;
                    width: 70%
                }
            }
            .course__names{
                ol{
                    li{
                        padding: 0.3rem 0;
                        font-size: 18px;
                        font-weight: 600;
                        letter-spacing: .5px;
                        font-family: $source-serif;
                        // color: #A9A9A9;
                        @include responsive-content(mobile){
                            font-size: 0.8em;
                            line-height: 1.5em;
                        }
                        @include responsive-content(smd){
                            font-size: 18px;
                            line-height: 1.5em;
                        }
                    }
                }
                
            }

        }
    }
    #director{
        background: $black;
        // background: linear-gradient(to right, rgb(0,0,0) 10%, transparent);
        .course__container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 2rem 0;
            @include responsive-content(mobile){
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

        }
        .director-info{
            width: 40%;
            display: flex;
            justify-content: center;
            align-content: center;         
            img{
                width: 60%;
                height: 300px;
                // padding: 1rem;
                object-fit: cover;
                @include responsive-content(smd){
                    width: 70% !important;
                }
                @include responsive-content(tablet){
                    width: 90%;
                }
            }
            @include responsive-content(smd){
                width:100%;             
            }
        }        
        .director-message{
            width: 60%; 
            @include responsive-content(smd){
                width:100%;
            }      
            h1{
                font-size: 33px;
                font-weight: 600;
                padding: 0.5rem 1rem;
                letter-spacing: .7px;
                color: $yellow;
                font-family: $roboto-slab;
                @include responsive-content(smd){
                    font-size: 28px;
                    font-weight: 500;
                    margin:0;
                    padding: 15px;
                }
            }
            p{
                text-indent: 50px;
                padding: 0.5rem 1rem;
                word-wrap: nowrap;
                color: $white;
                font-size: 18px;
                text-align: justify;
                line-height: 36px;
                font-weight: 600;  
                font-family: $roboto;
                @include responsive-content(mobile){
                    padding: 0;
                    font-size: 0.8em;
                    line-height: 2rem;
                }
                @include responsive-content(smd){
                    font-family: $source-serif;
                    padding: 0 15px;
                    font-size: 18px;
                    font-weight: 100;
                    text-indent: 0px;
                    line-height: 2rem;
                }
                q {
                    quotes: "“" "”" "‘" "’";                    
                  }
                  q::before {
                      font-size: 30px;
                      content: open-quote;
                  }
                  q::after {
                      font-size: 30px;
                      content: close-quote;
                  }
            }
            footer{
                font-family: $source-serif;
                color: $white;
                padding: 0.5rem 1rem;
                letter-spacing: .7px;
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
    #institute{
        .institute-info{
            background-size: cover;
            background-image: url('../img/about-hero-edit.jpg');
            .bg-effect{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                background: rgba(241, 165, 1,0.7);
                opacity: 1;
                padding: 2rem 0;
                @include responsive-content(smd){
                    height: auto;
                    width: 100%;
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                } 
                .container{
                    @include responsive-content(smd){
                    padding: 0px 5px !important;
                    }
                }
                .institute-name{
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    z-index: 2;
                    padding: 0.5rem;
                    // padding-right: 3rem;
                    // background: rgba(255, 255, 255,0.2);
                    // backdrop-filter: blur(0px);
                    @include responsive-content(smd){                    
                        width: 100%;
                        padding: 0px;
                    }
                    h1{
                        margin-top: 5px;
                        width: fit-content;
                        font-size: 33px;
                        font-weight: 600;
                        padding: 0.5rem 1rem;
                        letter-spacing: .7px;
                        color: $black;
                        background: $white;
                        font-family: $roboto-slab;
                        @include responsive-content(smd){
                            font-size: 28px;
                            font-weight: 500;
                            margin-bottom: 10px;
                        }
                    }
                    p{
                        text-indent: 50px;
                        padding: 0.3rem 0rem;
                        word-wrap: nowrap;
                        color: $black;
                        font-size: 16px;
                        text-align: justify;
                        line-height: 36px;
                        font-weight: 600;  
                        font-family: $roboto;
                        @include responsive-content(mobile){
                            padding: 0;
                            font-size: 0.8em;
                            line-height: 2rem;
                        }
                        @include responsive-content(smd){
                            font-family: $source-serif;
                            padding: 0px;
                            font-size: 18px;
                            font-weight: 100;
                            text-indent: 50px;
                            line-height: 2rem;
                        }
                    }
                }   
            }
        }
    }
    #events{
        overflow: hidden;
        background: $black;  
        .course__container{
            padding: 2rem 0;  
            @include responsive-content(smd){
                padding: 15px;
            }
        }  
        h1{
            font-size: 33px;
            font-weight: 600;
            letter-spacing: .7px;
            color: $yellow;
            font-family: $roboto-slab;
            padding-left: 30px;
            @include responsive-content(smd){
                font-size: 28px;
                font-weight: 500;
                padding: 0px;
            }
        }
        .swiper-container {
            width: auto;
            margin: 0px 30px;
            @include responsive-content(smd){
                margin: 0px;
            }
            .swiper-wrapper{
                height: auto;
                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    @include responsive-content(smd){
                        width: 100% !important;
                        height: 275px;
                        margin-bottom: 1rem !important;
                    }
                    /* Center slide text vertically */
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    height: 350px;
                    margin-bottom: 2rem !important;
                    a{
                        width: 100%;
                        height: 100%;    
                        img{
                            object-fit: cover;
                            height: 100%;
                            width: 100%;
                        }
                    }
                    .card-body{
                        position: absolute;
                        bottom: 0;
                        padding: 5px;
                        min-height: 50px;
                        height: auto;
                        max-height: 100px;
                        width: 100%;
                        color: $yellow;
                        background-color: rgba($color: $black, $alpha: 0.7);
                        @include responsive-content(smd){
                            width: 100%;
                            min-height: auto;
                        }
                        @include responsive-content(tablet){
                            width: 100%;
                            min-height: auto;
                        }
                        .card-title{
                            min-height: 40px;
                            max-height: 100px;
                            margin: 0px;
                            padding: 5px 10px;
                            font-size: 25px;
                            font-family: $roboto;
                            text-transform: uppercase; 
                            text-align: center;
                            @include responsive-content(smd){
                                font-size: 18px;
                                min-height: auto;
                            }
                        }
                    }  
                }  
                .swiper-slide:hover{
                    .card-body{
                        border-top: 1px solid $white;
                        border-bottom: 1px solid $white;
                        background-color: rgba($color: $black, $alpha: 0.5);
                    }
                }
            }
            .swiper-pagination{
                display: none;
                @include responsive-content(smd){
                    display: unset;
                }
                .swiper-pagination-progressbar-fill{
                    background: $yellow;
                    bottom: 0;
                }
            }
            .swiper-button-next{
                width: 50px;
                height: 50px;
                color: $yellow;
                padding: 20px;
                border-radius: 25px;
                background-color: rgba($color: $black, $alpha: 0.7);
            }
            .swiper-button-next::after{
                font-size: 25px;
                font-weight: bold;
            }
            .swiper-button-next:hover{
                background-color: $black;
            }
            .swiper-button-prev{
                width: 50px;
                height: 50px;
                color: $yellow;
                padding: 20px;
                border-radius: 25px;
                background-color: rgba($color: $black, $alpha: 0.7);
            }
            .swiper-button-prev::after{
                font-size: 25px;
                font-weight: bold;
            }
            .swiper-button-prev:hover{
                background-color: $black;
            }
        }              
    }
    #socialmedia{
        background: $yellow;
        ::-webkit-scrollbar {     
            width: 5px;
        }
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px ; 
            border-radius: 10px;
        }
        ::-webkit-scrollbar-thumb {
            background: $black; 
            border-radius: 25px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #b30000; 
        }
        .course__container{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 2rem 0;
            @include responsive-content(smd){
                flex-direction: column !important;
                justify-content: center;
                align-items: center;
            }
            @include responsive-content(tablet){
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            }
            .insta-container{
                width: 40%;
                height: auto;
                @include responsive-content(smd){
                    width: 90% !important;
                    margin-bottom: 20px;
                }
                @include responsive-content(tablet){
                    width: 45%;
                }
            }
            .facebook-container{
                width: 40%;
                height: auto;
                @include responsive-content(smd){
                    width: 90% !important;
                }
                @include responsive-content(tablet){
                    width: 45%;
                }
            }
            .scroll{
                height: 80vh;
                overflow: hidden;
                overflow-y: scroll;
                @include responsive-content(smd){
                    height: 70vh !important;
                }
                @include responsive-content(tablet){
                    height: 55vh;
                }
            }
            .container-heading{
                display: flex;
                justify-content: center;
                align-items: center;
                background: $white;
                padding: 10px;
                border-radius: 25px 25px 0 0;
                border-bottom: 5px solid $black;
                h1{
                    font-size: 33px;
                    font-weight: 600;
                    letter-spacing: .7px;
                    color: $black;
                    font-family: $roboto-slab;
                    padding: 0px 30px;
                    margin: 0px;
                    @include responsive-content(smd){
                        font-size: 25px !important;
                        font-weight: 500;
                    }
                    @include responsive-content(tablet){
                        font-size: 18px;
                    }
                }
                i{
                    padding: 0px 30px;
                    font-size: 33px;
                    color: $black;
                    @include responsive-content(smd){
                        font-size: 25px;
                    }
                }
            }
            .content-container{
                background: $white;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;                
                padding: 20px;
            }        
        }
    }
    #gallery{
        height: auto;
        overflow: hidden;
        background: $black;
        .course__container{
            padding: 1.5rem 0;
            @include responsive-content(smd){
                padding: 15px;
            }
        }
        h1{
            font-size: 33px;
            font-weight: 600;
            letter-spacing: .7px;
            color: $yellow;
            font-family: $roboto-slab;
            padding-left: 30px;
            @include responsive-content(smd){
                font-size: 28px;
                font-weight: 500;
                padding-left: 0px;
            }
        }
        .gallery-swiper-container {
            width: auto;
            margin: 0px 30px;
            overflow: hidden;
            position: relative;
            @include responsive-content(smd){
                margin: 0px;
            }
            .swiper-wrapper{
                height: 450px;
                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    @include responsive-content(smd){
                        width: 100% !important;
                        height: 250px;
                        margin-bottom: 1rem !important;
                    }
                    /* Center slide text vertically */
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    height: 450px;
                    margin-bottom: 2rem !important;
                    img{
                        object-fit: cover;
                        height: 450px;
                        width: 100%;
                        @include responsive-content(smd){
                            height: 250px;
                        }
                    }
                    .card-body{
                        position: absolute;
                        bottom: 0;
                        padding: 5px;
                        min-height: 50px;
                        height: auto;
                        max-height: 100px;
                        width: 100%;
                        color: $yellow;
                        background-color: rgba($color: $black, $alpha: 0.7);
                        @include responsive-content(smd){
                            width: 100%;
                            min-height: auto;
                        }
                        @include responsive-content(tablet){
                            width: 100%;
                            min-height: auto;
                        }
                        .card-title{
                            min-height: 40px;
                            max-height: 100px;
                            margin: 0px;
                            padding: 5px 10px;
                            font-size: 25px;
                            font-family: $roboto;
                            text-transform: uppercase; 
                            text-align: center;
                            @include responsive-content(smd){
                                font-size: 18px;
                                min-height: auto;
                            }
                        }
                    }  
                }  
            }
        }
        .gallery-top{
            height: auto;
            width: auto;
            @include responsive-content(smd){
                height: 250px;
            }
            .swiper-pagination{
                display: none;
                @include responsive-content(smd){
                    display: unset;
                }
                .swiper-pagination-progressbar-fill{
                    background: $yellow;
                }
            }
            .swiper-button-next{
                width: 50px;
                height: 50px;
                color: $yellow;
                padding: 20px;
                border-radius: 25px;
                background-color: rgba($color: $black, $alpha: 0.7);
            }
            .swiper-button-next::after{
                font-size: 25px;
                font-weight: bold;
            }
            .swiper-button-next:hover{
                background-color: $black;
            }
            .swiper-button-prev{
                width: 50px;
                height: 50px;
                color: $yellow;
                padding: 20px;
                border-radius: 25px;
                background-color: rgba($color: $black, $alpha: 0.7);
            }
            .swiper-button-prev::after{
                font-size: 25px;
                font-weight: bold;
            }
            .swiper-button-prev:hover{
                background-color: $black;
            }
        }
        .gallery-thumbs {
            height: 150px;
            width: auto;
            box-sizing: border-box;
            padding: 10px 0;
            @include responsive-content(smd){
                display: none;
            }
            .swiper-wrapper{
                .swiper-slide {
                    width: 25%;
                    height: 150px !important;
                    opacity: 0.4;               
                }
                .swiper-slide-thumb-active {
                    opacity: 1;
                }
            }          
        }
    }
    .placement{
        height: auto;    
        padding: 3rem 0;                     
        overflow: hidden;
        background: $light-grey;
        h1{
            font-size: 33px;
            font-weight: 600;
            letter-spacing: .7px;
            color: $black;
            font-family: $roboto-slab;
            margin-bottom: 20px;
            text-align: center;
            @include responsive-content(smd){
                font-size: 28px;
                font-weight: 500;
            }
        } 
        .placement-swiper-container {
            width: 100%;
            margin: 0px 30px;
            overflow: hidden;
            @include responsive-content(smd){
                margin: 0px;
            }
            @media (min-width: 768px){
                margin: 0px;
            }
            .swiper-wrapper{
                height: 155px;
                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    @include responsive-content(smd){
                        width: 100% !important;
                        margin-bottom: 1rem !important;
                    }
                    /* Center slide text vertically */
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    margin-bottom: 2rem !important;
                    background: $white;
                    img{
                        padding: 10px;
                        object-fit: contain;
                        height: 150px;
                        width: 200px;
                        background: $white;
                        @include responsive-content(smd){
                            width: 180px;
                        }
                    }
                }  
            }
        }   
    }
    .tour{
        height: auto;
        padding-top: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $light-grey;
        a{
            button{
                border: 1px solid $black;
                color: $white;
                font-size: 33px;
                font-weight: 600;
                padding: 10px 15px;
                text-align: center;
                letter-spacing: .7px;
                background-color: $black;
                font-family: $roboto-slab;
                @include responsive-content(smd){
                    font-size: 28px;
                    font-weight: 500;
                }
                i{
                    margin-right: 15px;
                }
            }
            button:hover{
                color: $black;
                background-color: transparent;
                box-shadow: 0 2px 2px 0 rgba($color: $black, $alpha: 0.5),
                            0 5px 10px 0 rgba($color: $black, $alpha: 0.5);
            }
        }
    }
}