@import 'color';
@import 'font';
@import 'mixins/layout-mq';
@import 'mixins/content-mq';

body{
    scroll-behavior: smooth;
    transition: .5s;
    background: rgba($color: #ccc, $alpha: .3) !important; 
    .recruitment{
        padding: 1em 0;
        @include responsive-content(smd){
            padding: 1em;
        }
        .title{
            padding: .5em 1em;
            width: fit-content;
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            color: $white;
            background-color: $black;
        }
        .form{
            padding: 10px 5px;
            p{
                font-size: 20px;
                font-weight: 600;
                margin: auto 1rem;
                margin-left: 0px !important;
                font-family: $roboto;
                @include responsive-content(smd){
                    margin: 0;
                    text-align: left;
                    font-size: 15px;
                }           
                a{
                    button{
                        color: $black;
                        border: none;
                        outline: none;
                        background: $yellow;    
                        font-family: $roboto;        
                        padding: 5px 10px;
                        border-radius: 4px;
                        @include responsive-content(smd){
                            // width: auto;
                        }
                    }
                    button:hover{
                        color: $white;
                        background: $black;
                    }
                }
            }
        }
        h1{
            margin: 0;
            font-size: 20px;
            font-weight: 600;
            padding: 1rem 0 1rem 0;
            letter-spacing: .7px;
            color: $black;
            font-family: $roboto-slab;
            @include responsive-content(smd){
                font-size: 18px;
                font-weight: 500;
                padding-left: 0px;
            }
        }
        table{
            text-align: center;
            margin-bottom: 1rem;
            width: 100%;            
            thead{                   
                th{
                    color: $black;
                    padding: 1rem 0;
                    font-weight: 500;
                    letter-spacing: 1px;
                    background-color: $yellow;
                }
            }
            tbody{
                tr{
                    td{
                        padding: 1rem 0;
                        font-weight: 500;
                        background-color: rgba($color: grey, $alpha: .1);
                    }
                    .last-child {
                        border-top: 1px solid #ccc;
                        background-color: lightgray;
                    }
                }
            }
            @include responsive-content(smd){                    
                position: relative;
                thead{
                    tr{
                        th{
                            font-size: 15px;
                            vertical-align: 0%;
                            border-right: 1px solid rgba(0, 0, 0, 0.5);
                            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                        }
                    }
                }
                tbody{
                    tr{
                        td{
                            font-size: 14px;
                            border-right: 1px solid rgba(0, 0, 0, 0.5);
                            padding: 0.5rem !important;
                        }
                    }
                }
            }
        }
        .instruction{            
            p{
                font-weight: bold;
                text-align: right;
            }
        }
    }      
}