@import url("https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");
/* media queries for layout grid,flex,etc 

small devices: 600px
keyword: smd

medium devices: 768px
mobiles specification
keyword: mobile


large devices: 992px
tablets specification
keyword: tablet

extra large devices: 1200px
desktops and laptops specification
keyword: desktop


exceptional devices: 1800px
tv's and wide desktops specification
keyword: exd
*/
/* media queries for content images,fonts,etc. 

small devices: 600px

medium devices: 768px
mobiles specification



large devices: 992px
tablets specification


extra large devices: 1200px
desktops and laptops specification

exceptional devices: 1800px
tv's and wide desktops specification

*/
body {
  scroll-behavior: smooth;
  transition: .5s;
}

body #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #111;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

body #myBtn:hover {
  background-color: #555;
}

body .header-section {
  height: 78vh;
}

body .header-section .media-container {
  z-index: 9000;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0 !important;
  padding: 0 !important;
  height: 78vh;
}

body .header-section .media-container .video1 {
  margin: 0 !important;
  padding: 0 !important;
  height: calc(100% + 1px);
  object-fit: cover;
}

body .header-section .header-txt {
  z-index: 9906;
  bottom: 10%;
  height: 300px;
  width: 100%;
}

@media (max-width: 600px) {
  body .header-section .header-txt {
    height: 200px;
  }
}

body .header-section .header-txt .txt-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: left;
  position: relative;
}

@media (max-width: 600px) {
  body .header-section .header-txt .txt-container {
    margin-left: 5%;
    padding: 0 !important;
    width: 95%;
  }
}

body .header-section .header-txt .txt-container p {
  width: 100%;
  margin: 0;
  padding: 0.5rem 2.5rem;
  font-size: 3.5em;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  body .header-section .header-txt .txt-container p {
    font-size: 2.5em;
  }
}

body .header-section .header-txt .txt-container p:nth-child(1) {
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  font-size: 4.5em;
}

@media (max-width: 600px) {
  body .header-section .header-txt .txt-container p:nth-child(1) {
    font-size: 3.5em;
  }
}

body .header-section .header-txt .txt-container::before {
  z-index: 9906;
  content: '';
  display: inline;
  top: 0;
  left: 0;
  position: absolute;
  background: #ccc;
  height: 100%;
  width: 10px;
}

body #contact {
  background: #000000;
}

body #contact .course__container {
  padding: 2rem 0;
}

@media (max-width: 768px) {
  body #contact .course__container {
    padding: 15px;
  }
}

body #contact a {
  color: #000000;
  text-decoration: none;
}

body #contact a:hover {
  color: #D07500;
}

body #contact .contact-container {
  width: 70%;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  body #contact .contact-container {
    width: auto;
  }
}

body #contact .contact-container h1 {
  font-size: 33px;
  font-weight: 600;
  padding: 10px 15px;
  letter-spacing: .7px;
  color: #000000;
  background: #F1A501;
  font-family: "Roboto Slab", serif;
}

@media (max-width: 600px) {
  body #contact .contact-container h1 {
    font-size: 21px;
    font-weight: 500;
  }
}

body #contact .contact-container p {
  padding: 10px 15px;
  word-wrap: nowrap;
  color: #000000;
  font-size: 18px;
  text-align: justify;
  line-height: 36px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  background: white;
  margin-bottom: 0px;
}

@media (max-width: 600px) {
  body #contact .contact-container p {
    text-align: left;
    font-size: 18px;
    line-height: 2rem;
  }
}

body #contact .contact-container form {
  width: 100%;
  background: white;
  padding: 15px;
}

@media (max-width: 600px) {
  body #contact .contact-container form {
    padding: 10px;
  }
}

body #contact .contact-container form input, body #contact .contact-container form button, body #contact .contact-container form textarea {
  width: 50%;
  font-size: 17px;
  display: block;
  padding: 10px;
  padding-left: 15px;
  margin: 5px;
}

@media (max-width: 600px) {
  body #contact .contact-container form input, body #contact .contact-container form button, body #contact .contact-container form textarea {
    width: 97%;
  }
}

body #contact .contact-container form button {
  font-size: 20px;
  color: white;
  background: #000000;
}
/*# sourceMappingURL=contact.css.map */