@import url("https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");
/* media queries for layout grid,flex,etc 

small devices: 600px
keyword: smd

medium devices: 768px
mobiles specification
keyword: mobile


large devices: 992px
tablets specification
keyword: tablet

extra large devices: 1200px
desktops and laptops specification
keyword: desktop


exceptional devices: 1800px
tv's and wide desktops specification
keyword: exd
*/
/* media queries for content images,fonts,etc. 

small devices: 600px

medium devices: 768px
mobiles specification



large devices: 992px
tablets specification


extra large devices: 1200px
desktops and laptops specification

exceptional devices: 1800px
tv's and wide desktops specification

*/
body .header-section {
  height: 78vh;
}

@media (max-width: 600px) {
  body .header-section {
    height: 55vh;
  }
}

body .header-section .media-container {
  z-index: 9000;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0 !important;
  padding: 0 !important;
  height: 78vh;
}

@media (max-width: 600px) {
  body .header-section .media-container {
    height: 55vh;
  }
}

body .header-section .media-container .video1 {
  margin: 0 !important;
  padding: 0 !important;
  height: calc(100% + 1px);
  -o-object-fit: cover;
     object-fit: cover;
}

body .header-txt {
  z-index: 9906;
  bottom: 20%;
  height: 300px;
  width: 100%;
}

@media (max-width: 600px) {
  body .header-txt {
    height: 200px;
  }
}

body .header-txt .txt-container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  text-align: left;
  position: relative;
}

@media (max-width: 600px) {
  body .header-txt .txt-container {
    margin-left: 5%;
    padding: 0 !important;
    width: 95%;
  }
}

body .header-txt .txt-container p {
  width: 100%;
  margin: 0;
  padding: 0.5rem 2.5rem;
  font-size: 3.5em;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  body .header-txt .txt-container p {
    font-size: 2.5em;
  }
}

body .header-txt .txt-container p:nth-child(1) {
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  font-size: 4.5em;
}

@media (max-width: 600px) {
  body .header-txt .txt-container p:nth-child(1) {
    font-size: 3.5em;
  }
}

body .header-txt .txt-container::before {
  z-index: 9906;
  content: '';
  display: inline;
  top: 0;
  left: 0;
  position: absolute;
  background: #ccc;
  height: 100%;
  width: 10px;
}

body #department .departments_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #department .departments_container .department__container {
  padding: 0 !important;
}

body #department .departments_container .department__container .department_info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em 1em;
}

@media (max-width: 768px) {
  body #department .departments_container .department__container .department_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body #department .departments_container .department__container .department_info .department_image_container {
  height: 100%;
  width: 40%;
}

body #department .departments_container .department__container .department_info .department_image_container img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 768px) {
  body #department .departments_container .department__container .department_info .department_image_container {
    width: 100%;
  }
}

body #department .departments_container .department__container .department_info .department_txt_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 60%;
}

@media (max-width: 768px) {
  body #department .departments_container .department__container .department_info .department_txt_container {
    width: 100%;
  }
}

body #department .departments_container .department__container .department_info .department_txt_container h1 {
  padding: 10px 20px;
  font-family: "Roboto Slab", serif;
  margin: 0;
}

@media (max-width: 768px) {
  body #department .departments_container .department__container .department_info .department_txt_container h1 {
    padding-top: 20px !important;
  }
}

body #department .departments_container .department__container .department_info .department_txt_container p {
  padding: 10px 20px;
  font-size: 18px;
  font-family: "Source Serif Pro", serif;
  text-align: justify;
  margin: 0;
  font-weight: 700;
}

body #department .departments_container .department__container .department_info .department_txt_container .department_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0px 20px;
  width: 100%;
}

body #department .departments_container .department__container .department_info .department_txt_container .department_link a {
  width: 30%;
  height: 100%;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: .8px;
}

@media (max-width: 600px) {
  body #department .departments_container .department__container .department_info .department_txt_container .department_link a {
    width: 50%;
  }
}

body #department .departments_container .department__container .department_info .department_txt_container .department_link i {
  font-size: 18px;
}

body #department .departments_container .department__container:nth-child(odd) {
  background: #F1A501;
}

body #department .departments_container .department__container:nth-child(odd) .department_info .department_txt_container .department_link a {
  background: #000000;
  color: white;
}

body #department .departments_container .department__container:nth-child(even) {
  background: #000000;
}

body #department .departments_container .department__container:nth-child(even) .department_info .department_txt_container h1 {
  color: white;
}

body #department .departments_container .department__container:nth-child(even) .department_info .department_txt_container p {
  color: white;
}

body #department .departments_container .department__container:nth-child(even) .department_info .department_txt_container .department_link a {
  background: #F1A501;
  color: black;
}
/*# sourceMappingURL=department.css.map */