@import url("https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");
/* media queries for layout grid,flex,etc 

small devices: 600px
keyword: smd

medium devices: 768px
mobiles specification
keyword: mobile


large devices: 992px
tablets specification
keyword: tablet

extra large devices: 1200px
desktops and laptops specification
keyword: desktop


exceptional devices: 1800px
tv's and wide desktops specification
keyword: exd
*/
/* media queries for content images,fonts,etc. 

small devices: 600px

medium devices: 768px
mobiles specification



large devices: 992px
tablets specification


extra large devices: 1200px
desktops and laptops specification

exceptional devices: 1800px
tv's and wide desktops specification

*/
body .header-section {
  height: 78vh;
}

@media (max-width: 600px) {
  body .header-section {
    height: 55vh;
  }
}

body .header-section .media-container {
  z-index: 9000;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0 !important;
  padding: 0 !important;
  height: 78vh;
}

@media (max-width: 600px) {
  body .header-section .media-container {
    height: 55vh;
  }
}

body .header-section .media-container .video1 {
  margin: 0 !important;
  padding: 0 !important;
  height: calc(100% + 1px);
  object-fit: cover;
}

body .header-section .media-container .header-txt {
  z-index: 9906;
  bottom: 10%;
  height: 300px;
  width: 100%;
}

@media (max-width: 600px) {
  body .header-section .media-container .header-txt {
    height: 200px;
  }
}

body .header-section .media-container .header-txt .txt-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: left;
  position: relative;
}

@media (max-width: 600px) {
  body .header-section .media-container .header-txt .txt-container {
    margin-left: 5%;
    padding: 0 !important;
    width: 95%;
  }
}

body .header-section .media-container .header-txt .txt-container p {
  width: 100%;
  margin: 0;
  padding: 0.5rem 2.5rem;
  font-size: 3.5em;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  body .header-section .media-container .header-txt .txt-container p {
    font-size: 2.5em;
  }
}

body .header-section .media-container .header-txt .txt-container p:nth-child(1) {
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  font-size: 4.5em;
}

@media (max-width: 600px) {
  body .header-section .media-container .header-txt .txt-container p:nth-child(1) {
    font-size: 3.5em;
  }
}

body .header-section .media-container .header-txt .txt-container::before {
  z-index: 9906;
  content: '';
  display: inline;
  top: 0;
  left: 0;
  position: absolute;
  background: #ccc;
  height: 100%;
  width: 10px;
}

body #all {
  position: relative;
  z-index: 9900;
}

body #all .loader {
  position: absolute;
  top: 0;
  z-index: 9901;
  width: 100%;
  background: black;
}

body #all .dept-container {
  background: white;
  display: grid;
  grid-template-columns: repeat(3, calc(100%/3));
  grid-template-rows: repeat(2, 50%);
}

@media (max-width: 600px) {
  body #all .dept-container {
    grid-template-columns: auto;
    grid-template-rows: repeat(6, calc(100%/6));
  }
}

body #all .dept-container .dept {
  padding: 3rem 2rem 1em 2em;
}

@media (max-width: 600px) {
  body #all .dept-container .dept {
    padding: 2rem 1rem;
  }
}

body #all .dept-container .dept .dept-img-container .dept-img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

body #all .dept-container .dept .dept-text-container a {
  display: block;
  font-weight: 700;
  padding: 1rem 0;
  font-size: 1.2em;
}

body .department {
  margin: 5rem 2rem;
}

@media (max-width: 600px) {
  body .department {
    margin: 2rem 0;
  }
}

@media (max-width: 600px) {
  body .department .department-cont {
    height: auto;
  }
}

body .department .department-cont .cont-grd {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  height: 100%;
}

@media (max-width: 600px) {
  body .department .department-cont .cont-grd {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: auto;
  }
}

body .department .department-cont .cont-grd .department-img-cont {
  padding: 2rem .5rem;
}

@media (max-width: 600px) {
  body .department .department-cont .cont-grd .department-img-cont {
    padding: 1rem .5rem;
  }
}

body .department .department-cont .cont-grd .department-img-cont .department-img {
  max-width: 100%;
}

body .department .department-cont .cont-grd .department-txt-cont {
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

body .department .department-cont .cont-grd .department-txt-cont .heading {
  display: block;
  width: 100%;
  padding: 2rem 0rem;
  text-align: left;
}

body .department .department-cont .cont-grd .department-txt-cont .heading a {
  font-weight: 500;
  font-size: 2em;
}

body .department .department-cont .cont-grd .department-txt-cont .department-link-slt {
  display: block;
  width: 100%;
  cursor: pointer;
  padding-top: 5rem;
}

@media (max-width: 600px) {
  body .department .department-cont .cont-grd .department-txt-cont .department-link-slt {
    padding-top: 1rem;
  }
}

body .department .department-cont .cont-grd .department-txt-cont .department-link-slt a {
  padding: 0rem .5rem;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.2em;
  text-align: left;
  text-decoration: none;
  color: black;
}

body .department .department-links {
  margin-top: 2rem;
}

@media (max-width: 600px) {
  body .department .department-links {
    margin: 2rem 0;
  }
}

body .department .department-links .link-grd {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
}

@media (max-width: 600px) {
  body .department .department-links .link-grd {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
  }
}

body .department .department-links .link-grd .link-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media (max-width: 600px) {
  body .department .department-links .link-grd .link-cont {
    flex-direction: row;
  }
}

body .department .department-links .link-grd .link-cont .link-cont-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: 1.5rem 3rem;
}

@media (max-width: 600px) {
  body .department .department-links .link-grd .link-cont .link-cont-item {
    padding: 1rem 0.7rem;
  }
}

body .department .department-links .link-grd .link-cont .link-cont-item a {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.2em;
}

@media (max-width: 600px) {
  body .department .department-links .link-grd .link-cont .link-cont-item a {
    padding: 0 1rem;
  }
}

@media (max-width: 600px) {
  body .department .department-links .link-grd .link-cont .link-cont-item span i {
    transform: rotate(90deg);
  }
}

body .department .department-links .link-grd .link-cont .link-cont-item::after {
  content: '';
  height: 1px;
  background: #ccc;
  width: 70%;
  position: absolute;
  bottom: 0;
}

@media (max-width: 600px) {
  body .department .department-links .link-grd .link-cont .link-cont-item::after {
    display: none;
  }
}

body .department .department-links .link-grd .content-wrapper {
  overflow-y: hidden;
  position: relative;
  height: 600px;
  max-width: 100%;
}

body .department .department-links .link-grd .content-wrapper .content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: .5s;
  height: 2400px;
}

body .department .department-links .link-grd .content-wrapper .content .staff-content {
  height: 600px;
  max-width: 100%;
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  body .department .department-links .link-grd .content-wrapper .content .staff-content {
    justify-content: space-around;
  }
}

body .department .department-links .link-grd .content-wrapper .content .staff-content .staff-img-wrapper {
  display: grid;
  grid-template-columns: repeat(3, calc(100%/3));
  grid-template-rows: repeat(2, auto);
}

@media (max-width: 600px) {
  body .department .department-links .link-grd .content-wrapper .content .staff-content .staff-img-wrapper {
    grid-template-rows: repeat(3, calc(100%/3));
    grid-template-columns: repeat(2, auto);
  }
}

body .department .department-links .link-grd .content-wrapper .content .staff-content .staff-img-wrapper .staff-info {
  display: flex;
  flex-direction: column;
  padding: 1rem .5rem 0 .5rem;
  position: relative;
}

@media (max-width: 600px) {
  body .department .department-links .link-grd .content-wrapper .content .staff-content .staff-img-wrapper .staff-info {
    padding: 0;
  }
}

body .department .department-links .link-grd .content-wrapper .content .staff-content .staff-img-wrapper .staff-info img {
  max-width: 100%;
}

body .department .department-links .link-grd .content-wrapper .content .staff-content .staff-img-wrapper .staff-info .info {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 80%;
  color: #d3d3d3;
  font-weight: 500;
  padding: .5rem;
}

body .department .department-links .link-grd .content-wrapper .content .facility-cont {
  max-width: 100%;
  height: 600px;
}

@media (max-width: 600px) {
  body .department .department-links .link-grd .content-wrapper .content .facility-cont {
    padding: 0;
  }
}

body .department .department-links .link-grd .content-wrapper .content .facility-cont .facility-grd {
  height: 600px;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, 50%);
}

body .department .department-links .link-grd .content-wrapper .content .facility-cont .facility-grd .facility-slider .carousel .carousel-inner {
  height: 400px;
}

@media (max-width: 600px) {
  body .department .department-links .link-grd .content-wrapper .content .facility-cont .facility-grd .facility-slider .carousel .carousel-inner {
    height: auto;
  }
}

body .department .department-links .link-grd .content-wrapper .content .facility-cont .facility-grd .facility-content {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

@media (max-width: 600px) {
  body .department .department-links .link-grd .content-wrapper .content .facility-cont .facility-grd .facility-content {
    padding: 0 1rem;
  }
}

body .department .department-links .link-grd .content-wrapper .content .facility-cont .facility-grd .facility-content a {
  font-weight: 700;
  margin: 1rem 0;
}

@media (max-width: 600px) {
  body .department .department-links .link-grd .content-wrapper .content .facility-cont .facility-grd .facility-content a {
    margin: 2rem 0;
  }
}

body .department .department-links .link-grd .content-wrapper .content .events-cont {
  height: 600px;
}

body .department .department-links .link-grd .content-wrapper .content .events-cont .event-grid {
  height: 100%;
}

body .department .department-links .link-grd .content-wrapper .content .events-cont .event-grid .event-group {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: auto;
  grid-gap: .2em;
  height: 600px;
  padding: 0;
  transition: .5s;
}

@media (max-width: 600px) {
  body .department .department-links .link-grd .content-wrapper .content .events-cont .event-grid .event-group {
    width: 300vw;
    grid-template-columns: repeat(3, calc(100%/3));
    grid-template-rows: auto;
  }
}

body .department .department-links .link-grd .content-wrapper .content .events-cont .event-grid .event-group .event-crd {
  height: 200px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
}

@media (max-width: 600px) {
  body .department .department-links .link-grd .content-wrapper .content .events-cont .event-grid .event-group .event-crd {
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    height: 100%;
  }
}

body .department .department-links .link-grd .content-wrapper .content .events-cont .event-grid .event-group .event-crd .crd-img {
  padding: 0 1rem;
}

@media (max-width: 600px) {
  body .department .department-links .link-grd .content-wrapper .content .events-cont .event-grid .event-group .event-crd .crd-img {
    padding: 0;
  }
}

body .department .department-links .link-grd .content-wrapper .content .events-cont .event-grid .event-group .event-crd .crd-img img {
  object-fit: cover;
  max-width: 100%;
  height: 200px;
}

@media (max-width: 600px) {
  body .department .department-links .link-grd .content-wrapper .content .events-cont .event-grid .event-group .event-crd .crd-img img {
    height: auto;
  }
}

body .department .department-links .link-grd .content-wrapper .content .events-cont .event-grid .event-group .event-crd .crd-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  body .department .department-links .link-grd .content-wrapper .content .events-cont .event-grid .event-group .event-crd .crd-txt {
    justify-content: space-around;
  }
}

body .department .department-links .link-grd .content-wrapper .content .events-cont .event-grid .event-group .event-crd .crd-txt a {
  text-align: left;
  display: block;
  width: 100%;
  font-weight: 700;
  padding: 0.5rem 0;
}

@media (max-width: 600px) {
  body .department .department-links .link-grd .content-wrapper .content .events-cont .event-grid .event-group .event-crd .crd-txt a {
    padding: 1rem;
  }
}

body .department .department-links .link-grd .content-wrapper .content .events-cont .event-grid .event-group .event-crd .crd-txt p {
  margin: 0;
}

@media (max-width: 600px) {
  body .department .department-links .link-grd .content-wrapper .content .events-cont .event-grid .event-group .event-crd .crd-txt p {
    padding: 1rem;
  }
}

body .department .department-links .link-grd .content-wrapper .content .events-cont .event-grid .event-group .event-crd .crd-txt .event-sect {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: row;
  width: 100%;
  text-align: justify;
}

@media (max-width: 600px) {
  body .department .department-links .link-grd .content-wrapper .content .events-cont .event-grid .event-group .event-crd .crd-txt .event-sect {
    width: 80%;
  }
}

body .department .department-links .link-grd .content-wrapper .content .events-cont .event-grid .event-group .event-crd .crd-txt .event-sect a {
  width: 100%;
}

@media (max-width: 600px) {
  body .department .department-links .link-grd .content-wrapper .content .events-cont .event-grid .event-group .event-crd .crd-txt .event-sect a {
    width: 70%;
  }
}

body .department .department-links .link-grd .content-wrapper .content .events-cont .event-grid .event-group .event-crd .crd-txt .event-sect button {
  display: none;
  width: 30%;
}

body .department .department-links .link-grd .content-wrapper .content .events-cont .event-grid .event-group .event-crd .crd-txt .event-sect button i {
  padding: 0 .5rem;
}

@media (max-width: 600px) {
  body .department .department-links .link-grd .content-wrapper .content .events-cont .event-grid .event-group .event-crd .crd-txt .event-sect button {
    display: block;
  }
}
/*# sourceMappingURL=department.css.map */