@import url("https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");
/* media queries for layout grid,flex,etc 

small devices: 600px
keyword: smd

medium devices: 768px
mobiles specification
keyword: mobile


large devices: 992px
tablets specification
keyword: tablet

extra large devices: 1200px
desktops and laptops specification
keyword: desktop


exceptional devices: 1800px
tv's and wide desktops specification
keyword: exd
*/
/* media queries for content images,fonts,etc. 

small devices: 600px

medium devices: 768px
mobiles specification



large devices: 992px
tablets specification


extra large devices: 1200px
desktops and laptops specification

exceptional devices: 1800px
tv's and wide desktops specification

*/
body {
  scroll-behavior: smooth;
  transition: .5s;
}

body #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #111;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

body #myBtn:hover {
  background-color: #555;
}

body .header-section {
  height: 78vh;
}

@media (max-width: 600px) {
  body .header-section {
    height: 55vh;
  }
}

body .header-section .media-container {
  z-index: 9000;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0 !important;
  padding: 0 !important;
  height: 78vh;
}

@media (max-width: 600px) {
  body .header-section .media-container {
    height: 55vh;
  }
}

body .header-section .media-container .video1 {
  margin: 0 !important;
  padding: 0 !important;
  height: calc(100% + 1px);
  object-fit: cover;
}

body #labs {
  overflow: hidden;
  background: #F1A501;
}

body #labs .course__container {
  padding: 2rem 0;
}

@media (max-width: 600px) {
  body #labs .course__container {
    padding: 15px;
  }
}

body #labs h1 {
  font-size: 33px;
  font-weight: 600;
  letter-spacing: .7px;
  color: #000000;
  font-family: "Roboto Slab", serif;
  padding-left: 30px;
}

@media (max-width: 600px) {
  body #labs h1 {
    font-size: 28px;
    font-weight: 500;
    padding: 0px;
  }
}

body #labs .labs-swiper-container {
  width: auto;
  margin: 0px 30px;
  overflow: hidden;
}

@media (max-width: 600px) {
  body #labs .labs-swiper-container {
    margin: 0px;
  }
}

body #labs .labs-swiper-container .swiper-wrapper {
  height: auto;
}

body #labs .labs-swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

@media (max-width: 600px) {
  body #labs .labs-swiper-container .swiper-wrapper .swiper-slide {
    width: 100% !important;
    height: 250px;
    margin-bottom: 1rem !important;
  }
}

body #labs .labs-swiper-container .swiper-wrapper .swiper-slide img {
  object-fit: fill;
  height: 100%;
  width: 100%;
}

body #labs .labs-swiper-container .swiper-wrapper .swiper-slide .card-body {
  position: absolute;
  bottom: 0;
  padding: 5px;
  min-height: 50px;
  height: auto;
  max-height: 100px;
  width: 100%;
  color: #F1A501;
  background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 600px) {
  body #labs .labs-swiper-container .swiper-wrapper .swiper-slide .card-body {
    width: 100%;
    min-height: auto;
  }
}

@media (max-width: 992px) {
  body #labs .labs-swiper-container .swiper-wrapper .swiper-slide .card-body {
    width: 100%;
    min-height: auto;
  }
}

body #labs .labs-swiper-container .swiper-wrapper .swiper-slide .card-body .card-title {
  min-height: 40px;
  max-height: 100px;
  margin: 0px;
  padding: 5px 10px;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 600px) {
  body #labs .labs-swiper-container .swiper-wrapper .swiper-slide .card-body .card-title {
    font-size: 18px;
    min-height: auto;
  }
}

body #hostel {
  background: #000000;
}

body #hostel .course__container {
  padding: 2rem 0;
}

@media (max-width: 600px) {
  body #hostel .course__container {
    padding: 15px;
  }
}

body #hostel .course__container .card {
  border: none;
}

body #hostel .course__container .card h1 {
  color: white;
  margin-top: 5px;
  font-size: 33px;
  font-weight: 600;
  background: #000000;
  width: fit-content;
  padding: 0.5rem 1rem;
  letter-spacing: .7px;
  font-family: "Roboto Slab", serif;
}

@media (max-width: 600px) {
  body #hostel .course__container .card h1 {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 10px;
  }
}

body #hostel .course__container .card p {
  color: #000000;
  padding: 0.3rem;
  font-size: 21px;
  line-height: 36px;
  word-wrap: nowrap;
  margin-bottom: 0px;
  font-family: "Source Serif Pro", serif;
}

@media (max-width: 600px) {
  body #hostel .course__container .card p {
    padding: 0px;
    font-size: 18px;
    font-weight: 100;
    line-height: 2rem;
  }
}

body #library {
  background: #F1A501;
}

body #library .course__container {
  padding: 2rem 0;
}

@media (max-width: 600px) {
  body #library .course__container {
    padding: 15px;
  }
}

body #library .card {
  border: none;
}

@media (max-width: 600px) {
  body #library .card .row {
    flex-direction: column-reverse;
  }
}

body #library .card img {
  object-fit: cover;
}

body #library .card .card-body {
  text-align: justify;
  padding: 1rem;
}

@media (max-width: 600px) {
  body #library .card .card-body {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  body #library .card .card-body {
    padding: 1rem;
  }
}

body #library .card .card-body h1 {
  margin-top: 5px;
  width: fit-content;
  font-size: 33px;
  font-weight: 600;
  padding: 0.5rem 1rem;
  letter-spacing: .7px;
  color: white;
  background: #000000;
  font-family: "Roboto Slab", serif;
}

@media (max-width: 600px) {
  body #library .card .card-body h1 {
    font-size: 28px;
    font-weight: 500;
    margin: 0px;
    width: 100%;
    text-align: center;
  }
}

body #library .card .card-body p {
  padding: 0.3rem;
  word-wrap: nowrap;
  color: #000000;
  font-size: 16px;
  text-align: justify;
  line-height: 34px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0px;
  text-indent: 50px;
}

@media (max-width: 768px) {
  body #library .card .card-body p {
    padding: 0;
    font-size: 0.8em;
    line-height: 2rem;
  }
}

@media (max-width: 600px) {
  body #library .card .card-body p {
    font-family: "Source Serif Pro", serif;
    padding: 0px;
    font-size: 18px;
    font-weight: 100;
    text-indent: 50px;
    line-height: 2rem;
  }
}

body #library .lib-facilities {
  margin: 15px 0;
  margin-bottom: 0;
  background: white;
}

body #library .lib-facilities h1 {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 33px;
  font-weight: 600;
  padding: 0.5rem 1rem;
  letter-spacing: .7px;
  color: #000000;
  font-family: "Roboto Slab", serif;
}

@media (max-width: 600px) {
  body #library .lib-facilities h1 {
    font-size: 28px;
    font-weight: 500;
  }
}

body #library .lib-facilities .lib-swiper-container {
  width: auto;
  background: white;
  overflow: hidden;
}

body #library .lib-facilities .lib-swiper-container .swiper-pagination-progressbar-fill {
  background: white;
}

body #library .lib-facilities .lib-swiper-container .swiper-pagination {
  position: relative;
  background: #F1A501;
}

body #library .lib-facilities .lib-swiper-container .swiper-wrapper {
  height: auto;
}

@media (max-width: 600px) {
  body #library .lib-facilities .lib-swiper-container .swiper-wrapper {
    height: 250px;
  }
}

body #library .lib-facilities .lib-swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  height: 450px;
}

@media (max-width: 600px) {
  body #library .lib-facilities .lib-swiper-container .swiper-wrapper .swiper-slide {
    height: 250px;
    width: 100% !important;
    margin-bottom: 1rem !important;
  }
}

body #library .lib-facilities .lib-swiper-container .swiper-wrapper .swiper-slide img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

body #library .lib-facilities .lib-swiper-container .swiper-wrapper .swiper-slide .facility-name h2 {
  width: 100%;
  font-size: 20px;
  bottom: -10px;
  position: absolute;
  padding: 1rem;
  color: white;
  background: rgba(0, 0, 0, 0.9);
}

body #canteen {
  background: #000000;
}

body #canteen .course__container {
  padding: 2rem 0;
}

@media (max-width: 600px) {
  body #canteen .course__container {
    padding: 15px;
  }
}

body #canteen .course__container h1 {
  font-size: 33px;
  font-weight: 600;
  letter-spacing: .7px;
  color: #F1A501;
  font-family: "Roboto Slab", serif;
}

@media (max-width: 600px) {
  body #canteen .course__container h1 {
    font-size: 28px;
    font-weight: 500;
  }
}

body #canteen .course__container .canteen-swiper-container {
  width: 100%;
  background: white;
  overflow: hidden;
  margin-bottom: 1rem;
}

body #canteen .course__container .canteen-swiper-container .swiper-wrapper {
  height: auto;
}

@media (max-width: 600px) {
  body #canteen .course__container .canteen-swiper-container .swiper-wrapper {
    height: 215px;
  }
}

body #canteen .course__container .canteen-swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

@media (max-width: 600px) {
  body #canteen .course__container .canteen-swiper-container .swiper-wrapper .swiper-slide {
    height: 215px;
    width: 100% !important;
    margin-bottom: 1rem !important;
  }
}

body #canteen .course__container .canteen-swiper-container .swiper-wrapper .swiper-slide img {
  object-fit: fill;
  height: 100%;
  width: 100%;
}

body #club {
  background: #F1A501;
}

body #club .course__container {
  padding: 2rem 0;
}

@media (max-width: 600px) {
  body #club .course__container {
    padding: 15px;
  }
}

body #club .course__container h1 {
  font-size: 33px;
  font-weight: 600;
  letter-spacing: .7px;
  color: #000000;
  font-family: "Roboto Slab", serif;
}

@media (max-width: 600px) {
  body #club .course__container h1 {
    font-size: 28px;
    font-weight: 500;
    padding: 0px;
  }
}

body #club .course__container .navbar {
  border: none;
  padding: 0px;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

body #club .course__container .navbar .nav .nav-item a {
  border-radius: 0px;
  padding: 10px 20px !important;
}

body #club .course__container .navbar .nav .nav-item .active {
  color: white;
  background-color: #000000;
}

body #club .course__container .gic {
  padding: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: 25% 75%;
  background-color: white;
  height: 300px;
}

@media (max-width: 600px) {
  body #club .course__container .gic {
    height: 500px;
    overflow: scroll;
    justify-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
}

body #club .course__container .gic img {
  width: 90%;
}

@media (max-width: 600px) {
  body #club .course__container .gic img {
    width: auto;
  }
}

body #club .course__container .gic p {
  text-indent: 50px;
  padding: 0.3rem 0rem;
  word-wrap: nowrap;
  color: #000000;
  font-size: 16px;
  text-align: justify;
  line-height: 36px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 768px) {
  body #club .course__container .gic p {
    padding: 0;
    font-size: 0.8em;
    line-height: 2rem;
  }
}

@media (max-width: 600px) {
  body #club .course__container .gic p {
    font-family: "Source Serif Pro", serif;
    padding: 0px;
    font-size: 18px;
    font-weight: 100;
    text-indent: 50px;
    line-height: 2rem;
  }
}

body #club .course__container .club-swiper-container {
  width: 100%;
  background: white;
  overflow: hidden;
}

body #club .course__container .club-swiper-container .swiper-pagination-progressbar-fill {
  background: #000000;
}

body #club .course__container .club-swiper-container .swiper-pagination {
  position: relative;
  background: #F1A501;
}

body #club .course__container .club-swiper-container .swiper-wrapper {
  height: auto;
}

@media (max-width: 600px) {
  body #club .course__container .club-swiper-container .swiper-wrapper {
    height: 215px;
  }
}

body #club .course__container .club-swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

@media (max-width: 600px) {
  body #club .course__container .club-swiper-container .swiper-wrapper .swiper-slide {
    height: 215px;
    width: 100% !important;
    margin-bottom: 1rem !important;
  }
}

body #club .course__container .club-swiper-container .swiper-wrapper .swiper-slide img {
  object-fit: fill;
  height: 100%;
  width: 100%;
}

body #ground {
  background: #000000;
}

body #ground .course__container {
  padding: 1rem 0;
  padding-bottom: 2rem;
}

@media (max-width: 600px) {
  body #ground .course__container {
    padding: 15px;
  }
}

body #ground .course__container h1 {
  font-size: 33px;
  font-weight: 600;
  letter-spacing: .7px;
  color: #F1A501;
  font-family: "Roboto Slab", serif;
}

@media (max-width: 600px) {
  body #ground .course__container h1 {
    font-size: 28px;
    font-weight: 500;
  }
}

body #ground .course__container .labs-swiper-container {
  width: 100%;
  background: white;
  overflow: hidden;
}

body #ground .course__container .labs-swiper-container .swiper-pagination-progressbar-fill {
  background: #000000;
}

body #ground .course__container .labs-swiper-container .swiper-pagination {
  position: relative;
  background: #F1A501;
}

body #ground .course__container .labs-swiper-container .swiper-wrapper {
  height: auto;
}

@media (max-width: 600px) {
  body #ground .course__container .labs-swiper-container .swiper-wrapper {
    height: 250px;
  }
}

body #ground .course__container .labs-swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

@media (max-width: 600px) {
  body #ground .course__container .labs-swiper-container .swiper-wrapper .swiper-slide {
    height: 250px;
    width: 100% !important;
    margin-bottom: 1rem !important;
  }
}

body #ground .course__container .labs-swiper-container .swiper-wrapper .swiper-slide img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=facilities.css.map */