@import url("https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");
/* media queries for layout grid,flex,etc 

small devices: 600px
keyword: smd

medium devices: 768px
mobiles specification
keyword: mobile


large devices: 992px
tablets specification
keyword: tablet

extra large devices: 1200px
desktops and laptops specification
keyword: desktop


exceptional devices: 1800px
tv's and wide desktops specification
keyword: exd
*/
/* media queries for content images,fonts,etc. 

small devices: 600px

medium devices: 768px
mobiles specification



large devices: 992px
tablets specification


extra large devices: 1200px
desktops and laptops specification

exceptional devices: 1800px
tv's and wide desktops specification

*/
body footer .clg-name h1 {
  font-size: 33px;
  font-weight: 600;
  padding-top: 1rem;
  padding-left: 30px;
  letter-spacing: .7px;
  color: #F1A501;
  text-align: center;
  font-family: "Roboto Slab", serif;
}

@media (max-width: 600px) {
  body footer .clg-name h1 {
    font-size: 28px;
    font-weight: 500;
    padding-left: 0px;
  }
}

body footer .footer-data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

body footer .footer-data .footer-link-cont .link-cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(100%/3));
      grid-template-columns: repeat(3, calc(100%/3));
}

body footer .footer-data .footer-link-cont .link-cont ul {
  text-align: left;
}

body footer .footer-data .footer-link-cont .link-cont ul li {
  border: none;
  background: transparent !important;
  color: white !important;
  width: 75%;
  cursor: pointer;
  font-weight: 300;
  padding: 5px !important;
}

body footer .footer-data .footer-link-cont .link-cont ul li:nth-child(1) {
  border-bottom: 1px solid;
  border-color: #F1A501 !important;
  font-weight: 500;
  letter-spacing: 1px;
}

body footer .footer-data .footer-link-cont .link-cont ul li:nth-child(2) {
  padding-top: 20px !important;
}

body footer .footer-data .footer-link-cont .link-cont ul li:hover {
  color: #F1A501 !important;
}

body footer .footer-data .footer-link-cont .link-cont ul li a {
  color: white;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

body footer .footer-data .footer-link-cont .link-cont ul li a:hover {
  color: #F1A501 !important;
}

body footer .copyright {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .copyright a {
  text-decoration: none;
  color: white !important;
}

body footer .copyright a:nth-child(2) {
  cursor: pointer;
}

body footer .copyright a:nth-child(2):hover {
  color: #facc04 !important;
}

body footer .copyright .social-cont .social-icons ul {
  flex-direction: row !important;
}

body footer .copyright .social-cont .social-icons ul a li {
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

body footer .copyright .social-cont .social-icons ul a li i {
  color: white;
  cursor: pointer;
  font-size: 1.5em;
}

body footer .copyright .social-cont .social-icons ul a:hover:nth-child(1) {
  background: #3b5998;
}

body footer .copyright .social-cont .social-icons ul a:hover:nth-child(2) {
  background: #c4302b;
}

body footer .copyright .social-cont .social-icons ul a:hover:nth-child(3) {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

@media screen and (max-width: 768px) {
  body footer .clg-name {
    padding: 10px 0;
  }
  body footer .clg-name a {
    font-size: 1.2em;
  }
  body footer .footer-data {
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  body footer .footer-data .footer-map-cont iframe {
    width: 100%;
    height: 400px !important;
  }
  body footer .footer-data .footer-link-cont .link-cont {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
  body footer .footer-data .footer-link-cont .link-cont .gtu-reference {
    margin: 0 !important;
  }
  body footer .footer-data .footer-link-cont .link-cont .college-reference {
    margin: 0 !important;
  }
  body footer .footer-data .footer-link-cont .link-cont ul {
    margin: 10px 0 !important;
  }
  body footer .footer-data .footer-link-cont .link-cont ul li {
    width: 100%;
  }
  body footer .footer-data .footer-link-cont .link-cont ul li:nth-child(1) {
    font-weight: 500;
    border-color: #fff !important;
  }
  body footer .footer-data .footer-link-cont .link-cont ul li:nth-child(1) a::after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 50%;
    top: 100%;
    left: 0;
    background: orange;
  }
}
/*# sourceMappingURL=footer.css.map */