@import url("https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");
/* media queries for layout grid,flex,etc 

small devices: 600px
keyword: smd

medium devices: 768px
mobiles specification
keyword: mobile


large devices: 992px
tablets specification
keyword: tablet

extra large devices: 1200px
desktops and laptops specification
keyword: desktop


exceptional devices: 1800px
tv's and wide desktops specification
keyword: exd
*/
/* media queries for content images,fonts,etc. 

small devices: 600px

medium devices: 768px
mobiles specification



large devices: 992px
tablets specification


extra large devices: 1200px
desktops and laptops specification

exceptional devices: 1800px
tv's and wide desktops specification

*/
body {
  scroll-behavior: smooth;
}

body #upper-header1 {
  height: 12vh;
}

body #upper-header1 .container {
  height: 100%;
}

body #upper-header1 .container .row {
  height: 100%;
}

body #upper-header1 .container .row .uh-r {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body #upper-header1 .container .row .uh-r .nm {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

body #upper-header1 .container .row .uh-r .nm p {
  margin: 0;
  color: white;
}

body #upper-header1 .container .row .uh-r .navbar-toggler {
  display: none;
  border: 1px solid #fff;
  border-radius: 0px !important;
}

body #upper-header1 .container .row .uh-r .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

body #upper-header2 {
  background: linear-gradient(to bottom, rgba(52, 58, 64, 0.5) 0, rgba(0, 0, 0, 0.3) 100%);
  z-index: 10000;
}

@media (max-width: 600px) {
  body #upper-header2 .nv-cont {
    margin: 0 !important;
    max-width: 100% !important;
  }
}

body #upper-header2 .nv-cont .inner-nav li {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

body #upper-header2 .nv-cont .inner-nav li a {
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 0 !important;
  font-size: .9em;
  letter-spacing: 0.2em;
}

body #upper-header2 .nv-cont .inner-nav li:last-child {
  background: black;
}

body #upper-header2 .nv-cont .inner-nav li:last-child a {
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 0 !important;
  font-size: .9em;
  letter-spacing: 0.2em;
}

body #upper-header2 .nv-cont .inner-nav li:last-child:last-child {
  background: black;
}

body #upper-header2 .nv-cont .inner-nav li:last-child:last-child a {
  color: white;
}

body #upper-header2 .nv-cont .inner-nav li:last-child:hover {
  background: #ccc;
}

body #upper-header2 .nv-cont .inner-nav li:hover {
  background: #ccc;
}

body #upper-header2 .nv-cont .inner-nav li:hover a {
  color: black;
}

body #upper-header2 .nv-cont .inner-nav .active {
  background: #ccc;
}

body #upper-header2 .nv-cont .inner-nav .active a {
  color: black;
}

body #upper-header3 {
  position: sticky;
  top: 0;
  z-index: 9904;
  background: #111;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
  height: 10vh;
}

@media (max-width: 600px) {
  body #upper-header3 {
    height: auto;
  }
}

body #upper-header3 .navbar {
  height: 100%;
}

@media (max-width: 600px) {
  body #upper-header3 .navbar {
    height: auto;
  }
}

body #upper-header3 .outer-nav {
  justify-content: flex-end;
}

body #upper-header3 .outer-nav .navbar-toggler {
  border: 1px solid #fff;
  border-radius: 0px !important;
  outline: none;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  body #upper-header3 .outer-nav .navbar-toggler {
    display: flex;
  }
}

body #upper-header3 .outer-nav .navbar-toggler .navbar-toggler-text {
  color: white;
}

body #upper-header3 .outer-nav .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media (max-width: 992px) {
  body #upper-header3 .inner-nav {
    background-color: #111;
  }
}

body #upper-header3 .inner-nav li {
  padding: 1rem .8rem;
}

body #upper-header3 .inner-nav li a {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: .9em;
  letter-spacing: 0.1em;
}

body #upper-header3 .inner-nav li:hover {
  background: rgba(255, 255, 255, 0.2);
}

body #upper-header3 .inner-nav li:hover a {
  color: #ccc;
}

body #upper-header3 .inner-nav .nav3-active {
  background: rgba(255, 255, 255, 0.2);
}

body #upper-header3 .inner-nav .nav3-active a {
  color: #ccc;
}

@media screen and (max-width: 994px) {
  body .uh-r .navbar-toggler {
    display: block !important;
  }
}

@media screen and (max-width: 768px) {
  body #upper-header2 nav {
    padding: 0 !important;
  }
  body #upper-header2 nav .inner-nav {
    background: rgba(54, 54, 54, 0.975);
  }
  body #upper-header2 nav .inner-nav li a {
    color: white;
  }
}
/*# sourceMappingURL=header.css.map */