@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");
/* media queries for layout grid,flex,etc 

small devices: 600px
keyword: smd

medium devices: 768px
mobiles specification
keyword: mobile


large devices: 992px
tablets specification
keyword: tablet

extra large devices: 1200px
desktops and laptops specification
keyword: desktop


exceptional devices: 1800px
tv's and wide desktops specification
keyword: exd
*/
/* media queries for content images,fonts,etc. 

small devices: 600px

medium devices: 768px
mobiles specification



large devices: 992px
tablets specification


extra large devices: 1200px
desktops and laptops specification

exceptional devices: 1800px
tv's and wide desktops specification

*/
body {
  scroll-behavior: smooth;
  transition: .5s;
  background: #ccc;
}

body #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #111;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

body #myBtn:hover {
  background-color: #555;
}

body .header-section {
  height: 78vh;
}

body .header-section .media-container {
  z-index: 9000;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0 !important;
  padding: 0 !important;
  height: 78vh;
}

body .header-section .media-container .video1 {
  margin: 0 !important;
  padding: 0 !important;
  height: calc(100% + 1px);
  object-fit: cover;
}

body .header-section .header-txt {
  z-index: 9906;
  bottom: 10%;
  height: 300px;
  width: 100%;
}

@media (max-width: 600px) {
  body .header-section .header-txt {
    height: 200px;
  }
}

body .header-section .header-txt .txt-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: left;
  position: relative;
}

@media (max-width: 600px) {
  body .header-section .header-txt .txt-container {
    margin-left: 5%;
    padding: 0 !important;
    width: 95%;
  }
}

body .header-section .header-txt .txt-container p {
  width: 100%;
  margin: 0;
  padding: 0.5rem 2.5rem;
  font-size: 3.5em;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  body .header-section .header-txt .txt-container p {
    font-size: 2.5em;
  }
}

body .header-section .header-txt .txt-container p:nth-child(1) {
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  font-size: 4.5em;
}

@media (max-width: 600px) {
  body .header-section .header-txt .txt-container p:nth-child(1) {
    font-size: 3.5em;
  }
}

body .header-section .header-txt .txt-container::before {
  z-index: 9906;
  content: '';
  display: inline;
  top: 0;
  left: 0;
  position: absolute;
  background: #ccc;
  height: 100%;
  width: 10px;
}

body #courses {
  background: #F1A501;
}

body #courses .course__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0;
}

@media (max-width: 768px) {
  body #courses .course__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

body #courses .course-info {
  width: 56%;
}

@media (max-width: 768px) {
  body #courses .course-info {
    width: 90%;
  }
}

body #courses .course-info h1 {
  font-size: 33px;
  font-weight: 600;
  padding-top: 1rem;
  padding-left: 30px;
  letter-spacing: .7px;
  color: #000000;
  font-family: "Roboto Slab", serif;
}

@media (max-width: 600px) {
  body #courses .course-info h1 {
    font-size: 28px;
    font-weight: 500;
    padding-left: 0px;
  }
}

body #courses .course-info p {
  padding: 20px 25px;
  word-wrap: nowrap;
  color: #000000;
  font-size: 22px;
  text-align: justify;
  line-height: 36px;
  font-weight: 600;
}

@media (max-width: 768px) {
  body #courses .course-info p {
    padding: 0;
    font-size: 0.8em;
    line-height: 2rem;
  }
}

@media (max-width: 600px) {
  body #courses .course-info p {
    padding: 0;
    font-size: 18px;
    line-height: 2rem;
  }
}

body #courses .course-info p a {
  text-decoration: underline;
  font-weight: 700;
}

body #courses .course-name {
  width: 44%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 768px) {
  body #courses .course-name {
    width: 90%;
    align-items: flex-start;
  }
}

body #courses .course-name h1 {
  text-transform: uppercase;
  width: 38%;
  display: block;
  background: white;
  letter-spacing: .7px;
  text-align: center;
  font-size: 20px;
  margin-top: .5rem;
  padding: 10px 12px;
  font-family: "Roboto Slab", serif;
}

@media (max-width: 600px) {
  body #courses .course-name h1 {
    font-size: 28px;
    font-weight: 500;
    width: 70%;
  }
}

body #courses .course-name .course__names ol li {
  padding: 0.3rem 0;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: .5px;
  font-family: "Source Serif Pro", serif;
}

@media (max-width: 768px) {
  body #courses .course-name .course__names ol li {
    font-size: 0.8em;
    line-height: 1.5em;
  }
}

@media (max-width: 600px) {
  body #courses .course-name .course__names ol li {
    font-size: 18px;
    line-height: 1.5em;
  }
}

body #director {
  background: #000000;
}

body #director .course__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0;
}

@media (max-width: 768px) {
  body #director .course__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

body #director .director-info {
  width: 40%;
  display: flex;
  justify-content: center;
  align-content: center;
}

body #director .director-info img {
  width: 90%;
  object-fit: cover;
}

@media (max-width: 600px) {
  body #director .director-info {
    width: 100%;
  }
}

body #director .director-message {
  width: 60%;
}

@media (max-width: 600px) {
  body #director .director-message {
    width: 100%;
  }
}

body #director .director-message h1 {
  font-size: 33px;
  font-weight: 600;
  padding: 0.5rem 1rem;
  letter-spacing: .7px;
  color: #F1A501;
  font-family: "Roboto Slab", serif;
}

@media (max-width: 600px) {
  body #director .director-message h1 {
    font-size: 28px;
    font-weight: 500;
    margin: 0;
    padding: 15px;
  }
}

body #director .director-message p {
  text-indent: 50px;
  padding: 0.5rem 1rem;
  word-wrap: nowrap;
  color: white;
  font-size: 18px;
  text-align: justify;
  line-height: 36px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 768px) {
  body #director .director-message p {
    padding: 0;
    font-size: 0.8em;
    line-height: 2rem;
  }
}

@media (max-width: 600px) {
  body #director .director-message p {
    font-family: "Source Serif Pro", serif;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 100;
    text-indent: 0px;
    line-height: 2rem;
  }
}

body #director .director-message p q {
  quotes: "“" "”" "‘" "’";
}

body #director .director-message p q::before {
  font-size: 30px;
  content: open-quote;
}

body #director .director-message p q::after {
  font-size: 30px;
  content: close-quote;
}

body #director .director-message footer {
  font-family: "Source Serif Pro", serif;
  color: white;
  padding: 0.5rem 1rem;
  letter-spacing: .7px;
  font-weight: bold;
  text-decoration: underline;
}

body #institute .institute-info {
  background-size: cover;
  background-image: url("../img/about-hero-edit.jpg");
}

body #institute .institute-info .bg-effect {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: rgba(241, 165, 1, 0.7);
  opacity: 1;
  padding: 2rem 0;
}

@media (max-width: 600px) {
  body #institute .institute-info .bg-effect {
    height: auto;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  body #institute .institute-info .bg-effect .container {
    padding: 0px 5px !important;
  }
}

body #institute .institute-info .bg-effect .institute-name {
  width: 50%;
  display: flex;
  flex-direction: column;
  z-index: 2;
  padding: 0.5rem;
}

@media (max-width: 600px) {
  body #institute .institute-info .bg-effect .institute-name {
    width: 100%;
    padding: 0px;
  }
}

body #institute .institute-info .bg-effect .institute-name h1 {
  margin-top: 5px;
  width: fit-content;
  font-size: 33px;
  font-weight: 600;
  padding: 0.5rem 1rem;
  letter-spacing: .7px;
  color: #000000;
  background: white;
  font-family: "Roboto Slab", serif;
}

@media (max-width: 600px) {
  body #institute .institute-info .bg-effect .institute-name h1 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
  }
}

body #institute .institute-info .bg-effect .institute-name p {
  text-indent: 50px;
  padding: 0.3rem 0rem;
  word-wrap: nowrap;
  color: #000000;
  font-size: 16px;
  text-align: justify;
  line-height: 36px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 768px) {
  body #institute .institute-info .bg-effect .institute-name p {
    padding: 0;
    font-size: 0.8em;
    line-height: 2rem;
  }
}

@media (max-width: 600px) {
  body #institute .institute-info .bg-effect .institute-name p {
    font-family: "Source Serif Pro", serif;
    padding: 0px;
    font-size: 18px;
    font-weight: 100;
    text-indent: 50px;
    line-height: 2rem;
  }
}

body #events {
  overflow: hidden;
  background: #000000;
}

body #events .course__container {
  padding: 2rem 0;
}

body #events h1 {
  font-size: 33px;
  font-weight: 600;
  letter-spacing: .7px;
  color: #F1A501;
  font-family: "Roboto Slab", serif;
  padding-left: 30px;
}

@media (max-width: 600px) {
  body #events h1 {
    font-size: 28px;
    font-weight: 500;
  }
}

body #events .swiper-container {
  width: auto;
  margin: 0px 30px;
}

body #events .swiper-container .swiper-wrapper {
  height: auto;
}

body #events .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  margin-bottom: 2rem !important;
}

@media (max-width: 600px) {
  body #events .swiper-container .swiper-wrapper .swiper-slide {
    width: 80% !important;
    margin-bottom: 1rem !important;
  }
}

body #events .swiper-container .swiper-wrapper .swiper-slide img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

body #socialmedia {
  background: #F1A501;
}

body #socialmedia ::-webkit-scrollbar {
  width: 5px;
}

body #socialmedia ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px;
  border-radius: 10px;
}

body #socialmedia ::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 25px;
}

body #socialmedia ::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

body #socialmedia .course__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem 0;
}

@media (max-width: 600px) {
  body #socialmedia .course__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  body #socialmedia .course__container {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 992px) {
  body #socialmedia .course__container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

body #socialmedia .course__container .insta-container {
  width: 40%;
  height: auto;
}

@media (max-width: 600px) {
  body #socialmedia .course__container .insta-container {
    width: 90%;
    margin-bottom: 20px;
  }
}

body #socialmedia .course__container .facebook-container {
  width: 40%;
  height: auto;
}

@media (max-width: 600px) {
  body #socialmedia .course__container .facebook-container {
    width: 90%;
  }
}

body #socialmedia .course__container .scroll {
  height: 80vh;
  overflow: hidden;
  overflow-y: scroll;
}

@media (max-width: 600px) {
  body #socialmedia .course__container .scroll {
    height: 70vh;
  }
}

body #socialmedia .course__container .container-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 10px;
  border-radius: 25px 25px 0 0;
  border-bottom: 5px solid #000000;
}

body #socialmedia .course__container .container-heading h1 {
  font-size: 33px;
  font-weight: 600;
  letter-spacing: .7px;
  color: #000000;
  font-family: "Roboto Slab", serif;
  padding: 0px 30px;
  margin: 0px;
}

@media (max-width: 600px) {
  body #socialmedia .course__container .container-heading h1 {
    font-size: 25px;
    font-weight: 500;
  }
}

@media (max-width: 992px) {
  body #socialmedia .course__container .container-heading h1 {
    font-size: 20px;
    font-weight: 500;
  }
}

body #socialmedia .course__container .container-heading i {
  padding: 0px 30px;
  font-size: 33px;
  color: #000000;
}

@media (max-width: 600px) {
  body #socialmedia .course__container .container-heading i {
    font-size: 25px;
  }
}

@media (max-width: 992px) {
  body #socialmedia .course__container .container-heading i {
    font-size: 20px;
  }
}

body #socialmedia .course__container .content-container {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

body #gallery {
  overflow: hidden;
  background: #000000;
}

body #gallery .course__container {
  padding: 2rem 0;
}

body #gallery h1 {
  font-size: 33px;
  font-weight: 600;
  letter-spacing: .7px;
  color: #F1A501;
  font-family: "Roboto Slab", serif;
  padding-left: 30px;
}

@media (max-width: 600px) {
  body #gallery h1 {
    font-size: 28px;
    font-weight: 500;
  }
}

body #gallery .swiper-container {
  width: auto;
  margin: 0px 30px;
}

body #gallery .swiper-container .swiper-wrapper {
  height: auto;
}

body #gallery .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  margin-bottom: 2rem !important;
}

@media (max-width: 600px) {
  body #gallery .swiper-container .swiper-wrapper .swiper-slide {
    width: 80% !important;
    margin-bottom: 1rem !important;
  }
}

body #gallery .swiper-container .swiper-wrapper .swiper-slide img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

body .placement {
  height: auto;
  padding: 3rem 0;
  overflow: hidden;
  background: #DBDBDB;
}

body .placement h1 {
  font-size: 33px;
  font-weight: 600;
  letter-spacing: .7px;
  color: #000000;
  font-family: "Roboto Slab", serif;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 600px) {
  body .placement h1 {
    font-size: 28px;
    font-weight: 500;
  }
}

body .placement .placement-swiper-container {
  width: 100%;
  margin: 0px 30px;
  overflow: hidden;
}

body .placement .placement-swiper-container .swiper-wrapper {
  height: 155px;
}

body .placement .placement-swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem !important;
  background: white;
}

@media (max-width: 600px) {
  body .placement .placement-swiper-container .swiper-wrapper .swiper-slide {
    width: 80% !important;
    margin-bottom: 1rem !important;
  }
}

body .placement .placement-swiper-container .swiper-wrapper .swiper-slide img {
  padding: 10px;
  object-fit: contain;
  height: 150px;
  width: 200px;
  background: white;
}

@media screen and (max-width: 768px) {
  body .header-section {
    height: 55vh;
  }
  body .header-section .media-container {
    height: 55vh;
  }
  body .header-section .media-container .video1 {
    object-fit: cover;
  }
}
/*# sourceMappingURL=index.css.map */