/* media queries for layout grid,flex,etc 

small devices: 600px
keyword: smd

medium devices: 768px
mobiles specification
keyword: mobile


large devices: 992px
tablets specification
keyword: tablet

extra large devices: 1200px
desktops and laptops specification
keyword: desktop


exceptional devices: 1800px
tv's and wide desktops specification
keyword: exd
*/

@mixin responsive-layout($breakpoint) {
    @if $breakpoint == smd {
        @media (max-width: 600px){ @content };
    }
    @if $breakpoint == mobile {
        @media (max-width: 768px){ @content };
    }
    @if $breakpoint == tablet {
        @media (max-width: 992px){ @content };
    }
    @if $breakpoint == desktop{
        @media (max-width: 1200px){ @content };
    }
    @if $breakpoint == exd {
        @media (min-width: 1800px){ @content };
    }
}
